@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style: none;
  display: flex;
  gap: 2em;
}

ul li a{
  text-decoration: none;
  color: rgb(122, 122, 122);
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header,
.footer{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.footer{
  background-color: #e6e6e6;
}
