/* Add CSS Styling */

.odd-number{
    background-color: rgb(226, 64, 64);
    font-family: Verdana, sans-serif;
}

.font-24 {
    font-size: 24px;
}

#number-2{
    color: rgb(87, 87, 224);
    font-size: 36px
}

#number-4{
    background-color: rgb(77, 215, 77);
    font-weight: bold;
}

