/* Add CSS Styling */

.odd-number{
    background-color: red;
    font-family: Verdana, sans-serif;
}

.font-24 {
    font-size: 24px;
}

#number-2{
    color: blue;
    font-size: 36px
}

#number-4{
    background-color: green;
    font-weight: bold;
}

