*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  height: 72px;
  background: darkmagenta;
  color: white;
  padding: 0 .5em;
  font-size: 2em;
  font-weight: 800;
}

.content{
  display: flex;
  flex: 1;
}

.sidebar ul{
  list-style: none;
}

.sidebar ul li {
  display: flex;
  margin-bottom: .8em;
}

ul li a{
  text-decoration: none;
  color: #fff;
}

.cards{
  display: flex;
  flex: 5;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em 2em;
  justify-content: flex-start;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex: 1;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width: 270px;
  padding: .5em;
  font-size: .8em;
}