body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  padding: 8px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 14px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 7px 10px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding: 10px 20px;
}